* {
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box /* CSS3盒模型 */;
  -moz-box-sizing: border-box /* CSS3盒模型 */;
  box-sizing: border-box /* CSS3盒模型 */;
  border-radius: 6px /* 将边角圆滑 */;
}
* ::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  background: #ccc;
}
* ::-webkit-scrollbar-button {
  background-color: #e5e5e5;
}
* ::-webkit-scrollbar-track {
  background: #999;
}
* ::-webkit-scrollbar-track-piece {
  background: #ccc;
}
* ::-webkit-scrollbar-thumb {
  background: #666;
}
* ::-webkit-scrollbar-corner {
  background: #82afff;
}
* ::-webkit-scrollbar-resizer {
  background: #ff0bee;
}
* scrollbar {
  -moz-appearance: none !important;
  background: #0f0 !important;
}
* scrollbarbutton {
  -moz-appearance: none !important;
  background-color: #00f !important;
}
* scrollbarbutton:hover {
  -moz-appearance: none !important;
  background-color: #f00 !important;
}
html,
body {
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  height: auto;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1 /* IE6、7 专有 */;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  word-break: break-all;
  color: #000;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: $color-md-indigo;
}
legend {
  color: #000 /* for ie6 */;
}
fieldset,
img {
  border: 0 /* img 搭车：让链接里的 img 无边框 */;
}
button,
input,
select,
textarea {
  font-size: 100% /* 使得表单元素在 ie 下能继承字体大小 */;
}
table:not([class]) {
  border-radius: 0;
  border-collapse: collapse;
  overflow: auto;
  display: inline-block;
  max-width: 100%;
  vertical-align: text-top;
th
}
table:not([class]) td,
table:not([class]) th {
  padding: 8px 16px;
  border: 2px solid #9e9e9e;
  line-height: 1.5;
  font-size: 90%;
}
table:not([class]) tr {
  word-break: keep-all;
}
table:not([class]) tr:hover {
  background-color: #e0e0e0;
}
td,
th {
  padding: 0;
}
p {
  word-break: break-word;
}
input:focus,
textarea:focus {
  outline: none;
}
.bg_color {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #9cf;
  z-index: -999;
  background-attachment: scroll;
  border-radius: 0;
}
html {
  font-size: 16px;
  color: #2f2f2f;
  background: #fff;
  font-family: 'New Tegomin', Consolas, Georgia, serif;
  line-height: 1.7;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 5px 5px;
}
h1 {
  font-size: 1.625rem;
}
h2 {
  font-size: 1.625rem;
}
h3 {
  font-size: 1.375rem;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 1rem;
}
.app_side_content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: #2196f3;
  z-index: 999;
  padding: 15px;
  overflow: auto;
  border-radius: 0;
}
.app_side_glass {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  z-index: 999;
  border-radius: 0;
}
.global_button {
  position: fixed;
  right: 20px;
  bottom: 70px;
  background-color: rgba(255,255,255,0.9);
  width: 38px;
  z-index: 996;
}
.global_button:hover {
  cursor: pointer;
}
.global_button_item {
  border-bottom: 1px rgba(33,150,243,0.5) solid;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 0;
}
.header {
  display: block;
  position: relative;
  max-width: 1260px;
  width: 95%;
  height: 50px;
  background-color: rgba(102,153,204,0.7);
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
}
.header:hover {
  background-color: rgba(51,102,153,0.7);
}
.header .hd_left:hover,
.hd_right:hover {
  cursor: pointer;
}
.header .hd_left {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(75,167,238,0.7);
  text-align: center;
  vertical-align: middle;
}
.header .hd_right {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(75,167,238,0.7);
  text-align: center;
}
.header_app {
  display: none;
  position: relative;
  max-width: 1260px;
  width: 95%;
  height: 50px;
  background-color: rgba(102,153,204,0.7);
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
}
.header_app:hover {
  background-color: rgba(51,102,153,0.7);
}
.header_app .hd_left:hover,
.hd_right:hover {
  cursor: pointer;
}
.header_app .hd_left {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(75,167,238,0.7);
  text-align: center;
  vertical-align: middle;
}
.header_app .hd_right {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(75,167,238,0.7);
  text-align: center;
}
.container {
  max-width: 1260px;
  width: 95%;
  margin: 0 auto;
}
.ct_left {
  display: none;
  float: left;
  width: 20%;
}
.ct_right {
  display: none;
  float: left;
  width: 20%;
}
.ct_center {
  display: block;
  float: left;
  width: 100%;
  padding: 0 20px;
}
.footer {
  max-width: 1260px;
  width: 100%;
  padding: 40px 10px 90px;
  margin: 0 auto;
}
.footer .content {
  text-align: center;
}
.component {
  width: 100%;
  background-color: rgba(255,255,255,0.6);
  margin-top: 15px;
  padding: 20px;
}
.component:hover {
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.1), 0 4px 8px 0px rgba(0,0,0,0.1), 0 8px 16px 0px rgba(0,0,0,0.1);
}
@-moz-keyframes move {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(500px, 0);
  }
}
@-webkit-keyframes move {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(500px, 0);
  }
}
@-o-keyframes move {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(500px, 0);
  }
}
@keyframes move {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(500px, 0);
  }
}
.search_box {
  display: none;
  position: fixed;
  left: 50%;
  width: 60%;
  margin-left: -30%;
  max-height: 60%;
  overflow: auto;
  background-color: #00bfff;
  z-index: 900;
}
.search_box .search {
  border: 1px #4688f1 solid;
  position: sticky;
  top: 0;
  width: 100%;
  float: left;
  background-color: #fff;
}
.search_box .search input {
  outline: none;
  background: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
}
.search_box .search i {
  position: absolute;
  right: 10px;
  top: 10px;
}
#local-search-result {
  padding: 60px 10px 10px;
}
#local-search-result #local-search-close {
  display: none;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 10px 10px 0;
  text-align: right;
}
#local-search-result .archive {
  background-color: #fff;
}
#local-search-result .archive-title {
  font-weight: 700;
}
#local-search-result .search-result {
  text-indent: 30px;
}
#local-search-result .search-keyword {
  color: #4688f1;
  font-weight: 700;
}
.toc_container {
  display: none;
  position: fixed;
  top: 65px;
  right: 20px;
  width: 300px;
  max-height: 350px;
  background-color: #fff;
  z-index: 996;
  padding: 20px;
  overflow: auto;
}
.toc_title span {
  margin: 0 5px;
  font-weight: 700;
}
.toc-level-2 {
  margin-left: 15px;
  font-weight: 700;
}
.toc-level-3 {
  margin-left: 15px;
  font-weight: 400;
}
.blogger_left {
  width: 100%;
}
.board {
  width: 100%;
}
.board_content p {
  text-indent: 30px;
}
.btn_link {
  height: 56px;
  padding: 8px 0;
}
.btn_link ul li {
  float: left;
  height: 40px;
  background-color: #9cf;
  text-align: center;
  line-height: 40px;
  width: 23%;
  margin: auto 1%;
}
.btn_link ul li a {
  display: inline-block;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.btn_link ul li a:hover {
  background-color: #6cf;
}
.categories {
  max-height: 500px;
  overflow: auto;
}
.category-list-child {
  padding-left: 20px;
}
.hot_articles {
  height: 400px;
}
.links {
  width: 100%;
}
.new_comments {
  height: 400px;
  overflow: auto;
  padding: 0 20px 20px;
}
.new_comments .title {
  position: relative;
  top: 0;
  margin: 0;
  border-radius: 0;
  padding: 20px 0 15px;
}
.new_comments .new_comments_loding {
  text-align: center;
  margin-top: 133.33333333333334px;
}
.hot_articles_item {
  font-size: 12px;
}
.hot_articles_item li {
  padding-bottom: 5px;
}
.hot_articles_item .item_up {
  width: 100%;
  height: 30%;
  max-height: 50px;
  height: 30px;
}
.hot_articles_item .item_down {
  width: 100%;
  height: 70%;
}
.hot_articles_item .item_up .avatar {
  float: left;
  width: 25px;
}
.hot_articles_item .item_up .nick_name {
  float: right;
  width: 80%;
  height: 25px;
  display: inline-block;
}
.hot_articles_item .item_up .nick {
  float: left;
}
.hot_articles_item .item_up .time {
  float: right;
}
.hot_articles_item .item_down {
  text-indent: 20px;
}
.hot_articles_item .item_down img {
  width: 15px;
  display: inline;
}
.sticky {
  padding: 15px;
}
.sticky_up p {
  display: inline-block;
}
.sticky_img {
  float: right;
  width: 100px;
  max-height: 200px;
  overflow: hidden;
}
.sticky_up img {
  width: 100px;
}
.sticky_down {
  width: 100%;
  height: 30px;
  border-top: 1px #00f dashed;
  border-radius: 0;
}
.sticky_down .sticky_author {
  float: right;
}
.web_info img {
  width: 100%;
}
.arch_cate_tag {
  padding: 15px;
}
.cate_common {
  margin-bottom: 20px;
}
.cate_display_text {
  width: 100%;
}
.cate_cates {
  width: 100%;
}
.cate_cates .btn_cate a {
  margin: 5px;
  border: 1px #808080 solid;
  display: inline-block;
}
.cate_cates .btn_cate .btn_on {
  background-color: #808080;
}
.cate_lists {
  width: 100%;
}
.cate_lists li {
  margin: 10px 0 10px 5px;
}
.cate_area {
  border: 1px #808080 solid;
  display: inline-block;
  vertical-align: top;
}
.cate_area .cate_cell {
  display: inline-block;
}
.article_list {
  padding: 25px;
  overflow: hidden;
  zoom: 1;
}
.article_list li {
  margin: 10px 0 10px 5px;
}
.article_list .article_all {
  height: 40px;
  line-height: 40px;
  border: 1px rgba(70,136,241,0.7) solid;
  display: inline-block;
  float: right;
  background-color: rgba(70,136,241,0.7);
  padding: 0 5px;
  margin-top: 20px;
}
.artcle_list_item {
  padding: 5px;
  margin: 10px 0 10px 5px;
  overflow: hidden;
}
.artcle_list_item_img {
  float: right;
  overflow: hidden;
  height: 100px;
  width: 200px;
  text-align: center;
  line-height: 100px;
}
.artcle_list_item_img img {
  max-height: 100px;
  max-width: 200px;
  vertical-align: middle;
}
.artcle_list_item .artcle_secret {
  text-align: center;
}
.artcle_list_item .artcle_excerpt {
  text-indent: 2em;
}
.artcle_list_item_down {
  width: 100%;
  min-height: 30px;
  border-bottom: 1px #00f dashed;
  border-radius: 0;
  overflow: hidden;
  margin: 10px 0 0 0;
  padding: 10px 0;
}
.readmore {
  float: right;
}
.comments {
  width: 100%;
  position: relative;
}
.comments_title {
  height: 50px;
  width: 100%;
}
.comments_title h2 {
  height: 50px;
  line-height: 50px;
  display: inline-block;
}
.comments_title .switch_comments {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  float: right;
}
#switch_btn {
  background-color: #ffc0cb;
  width: 30px;
}
#switch_btn:hover {
  cursor: pointer;
}
.utterances {
  max-width: 100%;
}
.home_bg_color {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("https://api.luvying.com/acgimg") no-repeat;
  background-color: #9cf;
  z-index: -999;
  background-attachment: scroll;
  border-radius: 0;
}
.home_box {
  border: 1px #607d8b solid;
  background-color: rgba(224,224,224,0.5);
  padding: 20px;
  width: 40%;
  max-height: 40%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.home_author {
  text-align: center;
}
.home_author h2,
h3 {
  color: #000;
}
.home_link {
  margin-top: 20px;
}
.home_link_item {
  border: 1px #607d8b solid;
  padding: 10px 0 10px 0;
  margin: 5px 0;
  text-align: center;
  overflow: hidden;
  zoom: 1;
}
.home_link_item span {
  float: left;
}
@media screen and (max-width: 991px) {
  .home_box {
    width: 60%;
  }
}
@media screen and (max-width: 800px) {
  .home_box {
    width: 70%;
  }
}
@media screen and (max-width: 640px) {
  .home_box {
    width: 80%;
  }
}
@media screen and (max-width: 481px) {
  .home_box {
    width: 90%;
  }
}
@media screen and (max-width: 361px) {
  .home_box {
    width: 100%;
  }
}
.page_message {
  background-image: url("https://cdn.jsdelivr.net/gh/wztlink1013/CDN@1.9/Pictures/blogbackground/giffengye.gif");
  padding: 150px 0;
}
.page_message h2 {
  text-align: center;
}
.page_message .mes_p {
  text-align: center;
}
.page_message .mes_img {
  display: block;
  margin: 0 auto;
  width: 70%;
}
.article_more_btn {
  text-align: right;
  padding: 15px 0 0 0;
}
.article_more_btn i {
  padding: 0 15px 0 0;
}
.article {
  padding: 15px;
}
.article img {
  max-width: 100%;
}
.article ul,
ol li {
  margin-left: 20px;
}
.article li {
  list-style: disc;
}
.prev_next {
  padding: 12px;
  text-align: center;
  height: 70px;
}
.prev_next_left {
  float: left;
}
.prev_next_right {
  float: right;
}
.btn-style {
  border: 0;
  background-color: transparent;
  outline: none;
}
.need-share-button {
  position: relative;
}
.need-share-button-opened,
.need-share-panel {
  position: relative;
}
.need-share-button-opened img.need-share-wechat-code-image,
.need-share-panel img.need-share-wechat-code-image {
  display: block;
  max-width: 150px;
  max-height: 150px;
  margin: 5px auto;
}
.need-share-button_dropdown {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  overflow: hidden;
  width: 300px;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  text-align: center;
  white-space: normal;
  opacity: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.5);
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
.need-share-button-opened .need-share-button_dropdown {
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.need-share-panel .need-share-button_dropdown {
  position: initial;
  display: block;
  visibility: visible;
  -webkit-transition: none;
  transition: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
}
.need-share-button_dropdown-box-vertical,
.need-share-button_dropdown-box-horizontal {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.need-share-button_dropdown-box-vertical {
  width: 50px;
}
.need-share-button_dropdown-box-horizontal {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
}
.need-share-button_link {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
  padding-top: 20px;
}
.need-share-button_link:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.7;
}
.need-share-button_dropdown-top-left {
  right: 100%;
  bottom: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
}
.need-share-button_dropdown-top-right {
  bottom: 100%;
  left: 100%;
  margin-bottom: 10px;
  margin-left: 10px;
}
.need-share-button_dropdown-top-center {
  bottom: 100%;
  left: 50%;
  margin-bottom: 10px;
}
.need-share-button_dropdown-middle-left {
  top: 50%;
  right: 100%;
  margin-right: 10px;
}
.need-share-button_dropdown-middle-right {
  top: 50%;
  left: 100%;
  margin-left: 10px;
}
.need-share-button_dropdown-bottom-left {
  top: 100%;
  right: 100%;
  margin-top: 10px;
  margin-right: 10px;
}
.need-share-button_dropdown-bottom-right {
  top: 100%;
  left: 100%;
  margin-top: 10px;
  margin-left: 10px;
}
.need-share-button_dropdown-bottom-center {
  top: 100%;
  left: 50%;
  margin-top: 10px;
}
.need-share-panel .need-share-button_dropdown-bottom-center {
  margin: auto !important;
  margin-top: 0;
}
.need-share-button-default {
  display: inline-block;
  margin-bottom: 0;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: 400;
  color: #333;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
}
.need-share-button_wechat {
  color: #a2dc30;
  content: '微';
}
.need-share-button_wechat.need-share-button_link-box {
  color: #fff;
  background: #a2dc30;
}
.need-share-button_weibo {
  color: #d52b2b;
}
.need-share-button_weibo.need-share-button_link-box {
  color: #fff;
  background: #d52b2b;
}
.need-share-button_douban {
  color: #072;
}
.need-share-button_douban:before {
  content: '豆';
}
.need-share-button_douban.need-share-button_link-box {
  color: #fff;
  background: #072;
}
.need-share-button_qqzone {
  color: #ffce00;
}
.need-share-button_qqzone:before {
  content: 'Q';
}
.need-share-button_qqzone.need-share-button_link-box {
  color: #fff;
  background: #ffce00;
}
.need-share-button_renren {
  color: #207cc5;
}
.need-share-button_renren.need-share-button_link-box {
  color: #fff;
  background: #207cc5;
}
.need-share-button_mailto {
  color: #efbe00;
}
.need-share-button_mailto:before {
  content: '邮';
}
.need-share-button_mailto.need-share-button_link-box {
  color: #fff;
  background: #efbe00;
}
.need-share-button_twitter {
  color: #00acec;
}
.need-share-button_twitter.need-share-button_link-box {
  color: #fff;
  background: #00acec;
}
.need-share-button_pinterest {
  color: #cd2027;
}
.need-share-button_pinterest.need-share-button_link-box {
  color: #fff;
  background: #cd2027;
}
.need-share-button_facebook {
  color: #3b5998;
}
.need-share-button_facebook.need-share-button_link-box {
  color: #fff;
  background: #3b5998;
}
.need-share-button_googleplus {
  color: #d44132;
}
.need-share-button_googleplus.need-share-button_link-box {
  color: #fff;
  background: #d44132;
}
.need-share-button_reddit {
  color: #000;
}
.need-share-button_reddit.need-share-button_link-box {
  color: #fff;
  background: #000;
}
.need-share-button_delicious {
  color: #000;
}
.need-share-button_delicious.need-share-button_link-box {
  color: #fff;
  background: #000;
}
.need-share-button_tapiture {
  color: #30547d;
}
.need-share-button_tapiture.need-share-button_link-box {
  color: #fff;
  background: #30547d;
}
.need-share-button_stumbleupon {
  color: #f04e23;
}
.need-share-button_stumbleupon.need-share-button_link-box {
  color: #fff;
  background: #f04e23;
}
.need-share-button_linkedin {
  color: #0085af;
}
.need-share-button_linkedin.need-share-button_link-box {
  color: #fff;
  background: #0085af;
}
.need-share-button_slashdot {
  color: #026664;
}
.need-share-button_slashdot.need-share-button_link-box {
  color: #fff;
  background: #026664;
}
.need-share-button_technorati {
  color: #49ae47;
}
.need-share-button_technorati.need-share-button_link-box {
  color: #fff;
  background: #49ae47;
}
.need-share-button_posterous {
  color: #795d31;
}
.need-share-button_posterous.need-share-button_link-box {
  color: #fff;
  background: #795d31;
}
.need-share-button_tumblr {
  color: #34465d;
}
.need-share-button_tumblr.need-share-button_link-box {
  color: #fff;
  background: #34465d;
}
.need-share-button_googlebookmarks {
  color: #fde331;
}
.need-share-button_googlebookmarks.need-share-button_link-box {
  color: #fff;
  background: #fde331;
}
.need-share-button_newsvine {
  color: #03652c;
}
.need-share-button_newsvine.need-share-button_link-box {
  color: #fff;
  background: #03652c;
}
.need-share-button_pingfm {
  color: #94b5da;
}
.need-share-button_pingfm.need-share-button_link-box {
  color: #fff;
  background: #94b5da;
}
.need-share-button_evernote {
  color: #79d626;
}
.need-share-button_evernote.need-share-button_link-box {
  color: #fff;
  background: #79d626;
}
.need-share-button_friendfeed {
  color: #b0cbe9;
}
.need-share-button_friendfeed.need-share-button_link-box {
  color: #fff;
  background: #b0cbe9;
}
.need-share-button_vkontakte {
  color: #4c75a3;
}
.need-share-button_vkontakte.need-share-button_link-box {
  color: #fff;
  background: #4c75a3;
}
.need-share-button_odnoklassniki {
  color: #ed812b;
}
.need-share-button_odnoklassniki.need-share-button_link-box {
  color: #fff;
  background: #ed812b;
}
.need-share-button_mailru {
  color: #f89c0e;
}
.need-share-button_mailru.need-share-button_link-box {
  color: #fff;
  background: #f89c0e;
}
.need-share-button_dropdown .need-share-loader,
.need-share-button_dropdown .need-share-loader:before,
.need-share-button_dropdown .need-share-loader:after {
  width: 1em;
  height: 4em;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  background: #fff;
}
.need-share-button_dropdown .need-share-loader {
  position: relative;
  height: 100px;
  margin: auto;
  margin-top: 60px;
  font-size: 11px;
  color: #808080;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  text-indent: -9999em;
}
.need-share-button_dropdown .need-share-loader:before,
.need-share-button_dropdown .need-share-loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.need-share-button_dropdown .need-share-loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.need-share-button_dropdown .need-share-loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%, 80%, 100% {
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
  }
  40% {
    -webkit-box-shadow: 0 -2em;
    box-shadow: 0 -2em;
  }
}
@-moz-keyframes load1 {
  0%, 80%, 100% {
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
  }
  40% {
    -webkit-box-shadow: 0 -2em;
    box-shadow: 0 -2em;
  }
}
@-webkit-keyframes load1 {
  0%, 80%, 100% {
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
  }
  40% {
    -webkit-box-shadow: 0 -2em;
    box-shadow: 0 -2em;
  }
}
@-o-keyframes load1 {
  0%, 80%, 100% {
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
  }
  40% {
    -webkit-box-shadow: 0 -2em;
    box-shadow: 0 -2em;
  }
}
@keyframes load1 {
  0%, 80%, 100% {
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
  }
  40% {
    -webkit-box-shadow: 0 -2em;
    box-shadow: 0 -2em;
  }
}
#waifu-toggle {
  background-color: #fa0;
  border-radius: 5px;
  bottom: 66px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  left: 0;
  margin-left: -90px;
  padding: 5px 2px 5px 5px;
  position: fixed;
  transition: margin-left 1s;
  width: 60px;
  writing-mode: vertical-rl;
}
#waifu-toggle.waifu-toggle-active {
  margin-left: -40px;
}
#waifu-toggle.waifu-toggle-active:hover {
  margin-left: -30px;
}
#waifu {
  bottom: -1000px;
  left: 0;
  line-height: 0;
  margin-bottom: -10px;
  position: fixed;
  transform: translateY(3px);
  transition: transform 0.3s ease-in-out, bottom 3s ease-in-out;
  z-index: 1;
}
#waifu:hover {
  transform: translateY(0);
}
#waifu-tips {
  animation: shake 50s ease-in-out 5s infinite;
  background-color: rgba(236,217,188,0.5);
  border: 1px solid rgba(224,186,140,0.62);
  border-radius: 12px;
  box-shadow: 0 3px 15px 2px rgba(191,158,118,0.2);
  font-size: 14px;
  line-height: 24px;
  margin: -30px 20px;
  min-height: 70px;
  opacity: 0;
  overflow: hidden;
  padding: 5px 10px;
  position: absolute;
  text-overflow: ellipsis;
  transition: opacity 1s;
  width: 180px;
  word-break: break-all;
}
#waifu-tips.waifu-tips-active {
  opacity: 1;
  transition: opacity 0.2s;
}
#waifu-tips span {
  color: #09c;
}
#waifu #live2d {
  cursor: grab;
  height: 300px;
  position: relative;
  width: 200px;
}
#waifu #live2d:active {
  cursor: grabbing;
}
#waifu-tool {
  color: #2196f3;
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 70px;
  transition: opacity 1s;
}
#waifu:hover #waifu-tool {
  opacity: 1;
}
#waifu-tool span {
  color: #0684bd;
  cursor: pointer;
  display: block;
  line-height: 30px;
  text-align: center;
  transition: color 0.3s;
}
#waifu-tool span:hover {
  color: #0684bd; /* #34495e */
}
@-moz-keyframes shake {
  2% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg);
  }
  4% {
    transform: translate(0.5px, 1.5px) rotate(1.5deg);
  }
  6% {
    transform: translate(1.5px, 1.5px) rotate(1.5deg);
  }
  8% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg);
  }
  10% {
    transform: translate(0.5px, 2.5px) rotate(0.5deg);
  }
  12% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
  }
  14% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg);
  }
  16% {
    transform: translate(-1.5px, -0.5px) rotate(1.5deg);
  }
  18% {
    transform: translate(0.5px, 0.5px) rotate(1.5deg);
  }
  20% {
    transform: translate(2.5px, 2.5px) rotate(1.5deg);
  }
  22% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg);
  }
  24% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
  }
  26% {
    transform: translate(1.5px, 0.5px) rotate(1.5deg);
  }
  28% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
  }
  30% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg);
  }
  32% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }
  34% {
    transform: translate(2.5px, 2.5px) rotate(-0.5deg);
  }
  36% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg);
  }
  38% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }
  40% {
    transform: translate(-0.5px, 2.5px) rotate(0.5deg);
  }
  42% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg);
  }
  44% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  46% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg);
  }
  48% {
    transform: translate(2.5px, -0.5px) rotate(0.5deg);
  }
  50% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  52% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg);
  }
  54% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  56% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }
  58% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
  }
  60% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }
  62% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }
  64% {
    transform: translate(-1.5px, 1.5px) rotate(1.5deg);
  }
  66% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }
  68% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }
  70% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
  }
  72% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg);
  }
  74% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg);
  }
  76% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg);
  }
  78% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg);
  }
  80% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }
  82% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }
  84% {
    transform: translate(-0.5px, 0.5px) rotate(1.5deg);
  }
  86% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg);
  }
  88% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }
  90% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
  }
  92% {
    transform: translate(-1.5px, -1.5px) rotate(1.5deg);
  }
  94% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg);
  }
  96% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }
  98% {
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}
@-webkit-keyframes shake {
  2% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg);
  }
  4% {
    transform: translate(0.5px, 1.5px) rotate(1.5deg);
  }
  6% {
    transform: translate(1.5px, 1.5px) rotate(1.5deg);
  }
  8% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg);
  }
  10% {
    transform: translate(0.5px, 2.5px) rotate(0.5deg);
  }
  12% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
  }
  14% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg);
  }
  16% {
    transform: translate(-1.5px, -0.5px) rotate(1.5deg);
  }
  18% {
    transform: translate(0.5px, 0.5px) rotate(1.5deg);
  }
  20% {
    transform: translate(2.5px, 2.5px) rotate(1.5deg);
  }
  22% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg);
  }
  24% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
  }
  26% {
    transform: translate(1.5px, 0.5px) rotate(1.5deg);
  }
  28% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
  }
  30% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg);
  }
  32% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }
  34% {
    transform: translate(2.5px, 2.5px) rotate(-0.5deg);
  }
  36% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg);
  }
  38% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }
  40% {
    transform: translate(-0.5px, 2.5px) rotate(0.5deg);
  }
  42% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg);
  }
  44% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  46% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg);
  }
  48% {
    transform: translate(2.5px, -0.5px) rotate(0.5deg);
  }
  50% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  52% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg);
  }
  54% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  56% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }
  58% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
  }
  60% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }
  62% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }
  64% {
    transform: translate(-1.5px, 1.5px) rotate(1.5deg);
  }
  66% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }
  68% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }
  70% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
  }
  72% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg);
  }
  74% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg);
  }
  76% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg);
  }
  78% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg);
  }
  80% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }
  82% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }
  84% {
    transform: translate(-0.5px, 0.5px) rotate(1.5deg);
  }
  86% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg);
  }
  88% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }
  90% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
  }
  92% {
    transform: translate(-1.5px, -1.5px) rotate(1.5deg);
  }
  94% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg);
  }
  96% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }
  98% {
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}
@-o-keyframes shake {
  2% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg);
  }
  4% {
    transform: translate(0.5px, 1.5px) rotate(1.5deg);
  }
  6% {
    transform: translate(1.5px, 1.5px) rotate(1.5deg);
  }
  8% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg);
  }
  10% {
    transform: translate(0.5px, 2.5px) rotate(0.5deg);
  }
  12% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
  }
  14% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg);
  }
  16% {
    transform: translate(-1.5px, -0.5px) rotate(1.5deg);
  }
  18% {
    transform: translate(0.5px, 0.5px) rotate(1.5deg);
  }
  20% {
    transform: translate(2.5px, 2.5px) rotate(1.5deg);
  }
  22% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg);
  }
  24% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
  }
  26% {
    transform: translate(1.5px, 0.5px) rotate(1.5deg);
  }
  28% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
  }
  30% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg);
  }
  32% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }
  34% {
    transform: translate(2.5px, 2.5px) rotate(-0.5deg);
  }
  36% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg);
  }
  38% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }
  40% {
    transform: translate(-0.5px, 2.5px) rotate(0.5deg);
  }
  42% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg);
  }
  44% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  46% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg);
  }
  48% {
    transform: translate(2.5px, -0.5px) rotate(0.5deg);
  }
  50% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  52% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg);
  }
  54% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  56% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }
  58% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
  }
  60% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }
  62% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }
  64% {
    transform: translate(-1.5px, 1.5px) rotate(1.5deg);
  }
  66% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }
  68% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }
  70% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
  }
  72% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg);
  }
  74% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg);
  }
  76% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg);
  }
  78% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg);
  }
  80% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }
  82% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }
  84% {
    transform: translate(-0.5px, 0.5px) rotate(1.5deg);
  }
  86% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg);
  }
  88% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }
  90% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
  }
  92% {
    transform: translate(-1.5px, -1.5px) rotate(1.5deg);
  }
  94% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg);
  }
  96% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }
  98% {
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}
@keyframes shake {
  2% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg);
  }
  4% {
    transform: translate(0.5px, 1.5px) rotate(1.5deg);
  }
  6% {
    transform: translate(1.5px, 1.5px) rotate(1.5deg);
  }
  8% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg);
  }
  10% {
    transform: translate(0.5px, 2.5px) rotate(0.5deg);
  }
  12% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
  }
  14% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg);
  }
  16% {
    transform: translate(-1.5px, -0.5px) rotate(1.5deg);
  }
  18% {
    transform: translate(0.5px, 0.5px) rotate(1.5deg);
  }
  20% {
    transform: translate(2.5px, 2.5px) rotate(1.5deg);
  }
  22% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg);
  }
  24% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
  }
  26% {
    transform: translate(1.5px, 0.5px) rotate(1.5deg);
  }
  28% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
  }
  30% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg);
  }
  32% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }
  34% {
    transform: translate(2.5px, 2.5px) rotate(-0.5deg);
  }
  36% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg);
  }
  38% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }
  40% {
    transform: translate(-0.5px, 2.5px) rotate(0.5deg);
  }
  42% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg);
  }
  44% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  46% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg);
  }
  48% {
    transform: translate(2.5px, -0.5px) rotate(0.5deg);
  }
  50% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  52% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg);
  }
  54% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  56% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }
  58% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
  }
  60% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }
  62% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }
  64% {
    transform: translate(-1.5px, 1.5px) rotate(1.5deg);
  }
  66% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }
  68% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }
  70% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
  }
  72% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg);
  }
  74% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg);
  }
  76% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg);
  }
  78% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg);
  }
  80% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }
  82% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }
  84% {
    transform: translate(-0.5px, 0.5px) rotate(1.5deg);
  }
  86% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg);
  }
  88% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }
  90% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
  }
  92% {
    transform: translate(-1.5px, -1.5px) rotate(1.5deg);
  }
  94% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg);
  }
  96% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }
  98% {
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}
