* {
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box /* CSS3盒模型 */;
  -moz-box-sizing: border-box /* CSS3盒模型 */;
  box-sizing: border-box /* CSS3盒模型 */;
  border-radius: 6px /* 将边角圆滑 */;
}
* ::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  background: #ccc;
}
* ::-webkit-scrollbar-button {
  background-color: #e5e5e5;
}
* ::-webkit-scrollbar-track {
  background: #999;
}
* ::-webkit-scrollbar-track-piece {
  background: #ccc;
}
* ::-webkit-scrollbar-thumb {
  background: #666;
}
* ::-webkit-scrollbar-corner {
  background: #82afff;
}
* ::-webkit-scrollbar-resizer {
  background: #ff0bee;
}
* scrollbar {
  -moz-appearance: none !important;
  background: #0f0 !important;
}
* scrollbarbutton {
  -moz-appearance: none !important;
  background-color: #00f !important;
}
* scrollbarbutton:hover {
  -moz-appearance: none !important;
  background-color: #f00 !important;
}
html,
body {
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  height: auto;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1 /* IE6、7 专有 */;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  word-break: break-all;
  color: #000;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: $color-md-indigo;
}
legend {
  color: #000 /* for ie6 */;
}
fieldset,
img {
  border: 0 /* img 搭车：让链接里的 img 无边框 */;
}
button,
input,
select,
textarea {
  font-size: 100% /* 使得表单元素在 ie 下能继承字体大小 */;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  word-break: break-word;
}
input:focus,
textarea:focus {
  outline: none;
}
.bg_color {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #9cf;
  z-index: -999;
  background-attachment: scroll;
  border-radius: 0;
}
html {
  font-size: 14px;
  color: #2f2f2f;
  background: #fff;
  font-family: 'New Tegomin', Consolas, Georgia, serif;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 5px 5px;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 1rem;
}
.app_side_content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: #2196f3;
  z-index: 999;
  padding: 15px;
  overflow: auto;
  border-radius: 0;
}
.app_side_glass {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  z-index: 999;
  border-radius: 0;
}
.global_button {
  position: fixed;
  right: 20px;
  bottom: 70px;
  background-color: rgba(255,255,255,0.9);
  width: 38px;
  z-index: 996;
}
.global_button:hover {
  cursor: pointer;
}
.global_button_item {
  border-bottom: 1px rgba(33,150,243,0.5) solid;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 0;
}
.header {
  display: block;
  position: relative;
  max-width: 1260px;
  width: 95%;
  height: 50px;
  background-color: rgba(102,153,204,0.7);
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
}
.header:hover {
  background-color: rgba(51,102,153,0.7);
}
.header .hd_left:hover,
.hd_right:hover {
  cursor: pointer;
}
.header .hd_left {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(75,167,238,0.7);
  text-align: center;
  vertical-align: middle;
}
.header .hd_right {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(75,167,238,0.7);
  text-align: center;
}
.header_app {
  display: none;
  position: relative;
  max-width: 1260px;
  width: 95%;
  height: 50px;
  background-color: rgba(102,153,204,0.7);
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
}
.header_app:hover {
  background-color: rgba(51,102,153,0.7);
}
.header_app .hd_left:hover,
.hd_right:hover {
  cursor: pointer;
}
.header_app .hd_left {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(75,167,238,0.7);
  text-align: center;
  vertical-align: middle;
}
.header_app .hd_right {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(75,167,238,0.7);
  text-align: center;
}
.container {
  max-width: 1260px;
  width: 95%;
  margin: 0 auto;
}
.ct_left {
  display: block;
  float: left;
  width: 20%;
}
.ct_right {
  display: block;
  float: left;
  width: 20%;
}
.ct_center {
  display: block;
  float: left;
  width: 60%;
  padding: 0 20px;
}
.footer {
  max-width: 1260px;
  width: 100%;
  padding: 40px 10px 90px;
  margin: 0 auto;
}
.footer .content {
  text-align: center;
}
.component {
  width: 100%;
  background-color: rgba(255,255,255,0.6);
  margin-top: 15px;
  padding: 20px;
}
.component:hover {
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.1), 0 4px 8px 0px rgba(0,0,0,0.1), 0 8px 16px 0px rgba(0,0,0,0.1);
}
.search_box {
  display: none;
  position: fixed;
  left: 50%;
  width: 60%;
  margin-left: -30%;
  max-height: 60%;
  overflow: auto;
  background-color: #00bfff;
  z-index: 900;
}
.search_box .search {
  border: 1px #4688f1 solid;
  position: sticky;
  top: 0;
  width: 100%;
  float: left;
  background-color: #fff;
}
.search_box .search input {
  outline: none;
  background: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
}
.search_box .search i {
  position: absolute;
  right: 10px;
  top: 10px;
}
#local-search-result {
  padding: 60px 10px 10px;
}
#local-search-result #local-search-close {
  display: none;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 10px 10px 0;
  text-align: right;
}
#local-search-result .archive {
  background-color: #fff;
}
#local-search-result .archive-title {
  font-weight: 700;
}
#local-search-result .search-result {
  text-indent: 30px;
}
#local-search-result .search-keyword {
  color: #4688f1;
  font-weight: 700;
}
.toc_container {
  display: none;
  position: fixed;
  top: 65px;
  right: 20px;
  width: 300px;
  max-height: 350px;
  background-color: #fff;
  z-index: 996;
  padding: 20px;
  overflow: auto;
}
.toc_title span {
  margin: 0 5px;
  font-weight: 700;
}
.toc-level-2 {
  margin-left: 15px;
  font-weight: 700;
}
.toc-level-3 {
  margin-left: 15px;
  font-weight: 400;
}
.blogger_left {
  width: 100%;
}
.board {
  width: 100%;
}
.board_content p {
  text-indent: 30px;
}
.btn_link {
  height: 56px;
  padding: 8px 0;
}
.btn_link ul li {
  float: left;
  height: 40px;
  background-color: #9cf;
  text-align: center;
  line-height: 40px;
  width: 23%;
  margin: auto 1%;
}
.btn_link ul li a {
  display: inline-block;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.btn_link ul li a:hover {
  background-color: #6cf;
}
.hot_articles {
  height: 400px;
}
.links {
  width: 100%;
}
.new_comments {
  height: 400px;
  overflow: auto;
  padding: 0 20px 20px;
}
.new_comments .title {
  position: relative;
  top: 0;
  margin: 0;
  border-radius: 0;
  padding: 20px 0 15px;
}
.new_comments .new_comments_loding {
  text-align: center;
  margin-top: 133.33333333333334px;
}
#hot_articles_item {
  font-size: 12px;
}
#hot_articles_item li {
  padding-bottom: 5px;
}
#hot_articles_item .item_up {
  width: 100%;
  height: 30%;
  max-height: 50px;
  height: 30px;
}
#hot_articles_item .item_down {
  width: 100%;
  height: 70%;
}
#hot_articles_item .item_up .avatar {
  float: left;
  width: 25px;
}
#hot_articles_item .item_up .nick_name {
  float: right;
  width: 80%;
  height: 25px;
  display: inline-block;
}
#hot_articles_item .item_up .nick {
  float: left;
}
#hot_articles_item .item_up .time {
  float: right;
}
#hot_articles_item .item_down {
  text-indent: 20px;
}
#hot_articles_item .item_down img {
  width: 15px;
  display: inline;
}
.sticky {
  padding: 15px;
}
.sticky_up p {
  display: inline-block;
}
.sticky_img {
  float: right;
  width: 100px;
  max-height: 200px;
  overflow: hidden;
}
.sticky_up img {
  width: 100px;
}
.sticky_down {
  width: 100%;
  height: 30px;
  border-top: 1px #00f dashed;
  border-radius: 0;
}
.sticky_down .sticky_author {
  float: right;
}
.web_info img {
  width: 100%;
}
.arch_cate_tag {
  padding: 15px;
}
.cate_common {
  margin-bottom: 20px;
}
.cate_display_text {
  width: 100%;
}
.cate_cates {
  width: 100%;
}
.cate_cates .btn_cate a {
  margin: 5px;
  border: 1px #808080 solid;
  display: inline-block;
}
.cate_cates .btn_cate .btn_on {
  background-color: #808080;
}
.cate_lists {
  width: 100%;
}
.cate_lists li {
  margin: 10px 0 10px 5px;
}
.article_list {
  padding: 25px;
  overflow: hidden;
  zoom: 1;
}
.article_list li {
  margin: 10px 0 10px 5px;
}
.article_list .article_all {
  height: 40px;
  line-height: 40px;
  border: 1px rgba(70,136,241,0.7) solid;
  display: inline-block;
  float: right;
  background-color: rgba(70,136,241,0.7);
  padding: 0 5px;
  margin-top: 20px;
}
.comments {
  width: 100%;
  position: relative;
}
.comments_title {
  height: 50px;
  width: 100%;
}
.comments_title h2 {
  height: 50px;
  line-height: 50px;
  display: inline-block;
}
.comments_title .switch_comments {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  float: right;
}
#switch_btn {
  background-color: #ffc0cb;
  width: 30px;
}
#switch_btn:hover {
  cursor: pointer;
}
.utterances {
  max-width: 100%;
}
.home_bg_color {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("https://api.luvying.com/acgimg") no-repeat;
  background-color: #9cf;
  z-index: -999;
  background-attachment: scroll;
  border-radius: 0;
}
.home_box {
  border: 1px #607d8b solid;
  background-color: rgba(224,224,224,0.5);
  padding: 20px;
  width: 40%;
  height: 45%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.home_author {
  text-align: center;
}
.home_author h2,
h3 {
  color: #000;
}
.home_link {
  margin-top: 20px;
}
.home_link_item {
  border: 1px #607d8b solid;
  padding: 10px 0 10px 0;
  margin: 5px 0;
  text-align: center;
  overflow: hidden;
  zoom: 1;
}
.home_link_item span {
  float: left;
}
@media screen and (max-width: 991px) {
  .home_box {
    width: 60%;
  }
}
@media screen and (max-width: 800px) {
  .home_box {
    width: 70%;
  }
}
@media screen and (max-width: 640px) {
  .home_box {
    width: 80%;
  }
}
@media screen and (max-width: 481px) {
  .home_box {
    width: 90%;
  }
}
@media screen and (max-width: 361px) {
  .home_box {
    width: 100%;
  }
}
.article {
  padding: 15px;
}
.article img {
  max-width: 100%;
}
.article ul,
ol li {
  margin-left: 20px;
}
.article li {
  list-style: disc;
}
.prev_next {
  padding: 12px;
  text-align: center;
  height: 70px;
}
.prev_next_left {
  float: left;
}
.prev_next_right {
  float: right;
}
