.bg_color {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #9cf;
  z-index: -999;
  background-attachment: scroll;
  border-radius: 0;
}
.page_friends ul,
.page_friends ol,
.page_friends li {
  list-style: none;
}
.page_friends hr {
  display: none;
}
.page_friends ul {
  display: inline-block;
  margin: 5px 0;
  border: 1px #87abf2 solid;
  background-color: #9cf;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .page_friends ul {
    width: 48%;
  }
}
@media screen and (max-width: 800px) {
  .page_friends ul {
    width: 98%;
  }
}
.page_friends ul a:hover {
  color: #2196f3;
}
.page_friends ul li img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  vertical-align: middle;
  margin: 5px 5px 0 10px;
}
.page_friends ul li:first-child {
  text-align: left;
  height: 3rem;
  line-height: 3rem;
}
.page_friends ul li:first-child a {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
}
.page_friends ul li:last-child {
  font-size: 12px;
}
.page_friends ul:hover {
  background-color: #b1c4e9;
  cursor: pointer;
}
.home_bg_color {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #b1d2f4;
  z-index: -999;
  background-attachment: scroll;
  border-radius: 0;
}
.animate-slide-in-down,
.animate-slide-in-up {
  position: relative;
  opacity: 0;
}
.animate-slide-in-down {
  top: -10px;
}
.animate-slide-in-up {
  bottom: -10px;
}
.no-js .animate-slide-in-down,
.no-js .animate-slide-in-up {
  opacity: 1;
}
.no-js .animate-slide-in-down {
  top: 0;
}
.no-js .animate-slide-in-up {
  bottom: 0;
}
.animate-slide-in-left {
  left: -100%;
}
.no-js .animate-slide-in-left {
  left: 0;
}
.animate-slide-in-right {
  right: -100%;
}
.no-js .animate-slide-in-right {
  right: 0;
}
.home_box {
  margin: calc(20vh) auto 0;
  max-width: 780px;
  text-align: center;
  transition: background-color 0.3s ease;
  border-radius: 0 !important;
  overflow-y: hidden;
  border-bottom: 0;
}
#index_img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  vertical-align: middle;
  margin-left: 5px;
}
#index_img:hover {
  animation-name: homeImgRotate;
  animation-duration: 1s;
}
@media (max-width: 767px) {
  .home_box {
    margin-top: calc(20vh);
  }
}
.quote {
  position: relative;
  overflow: hidden;
  margin: 40px 20px;
}
.quote-line {
  display: block;
  position: relative;
  height: 1px;
  transition: all 0.3s ease;
}
.quote cite::before {
  content: "-";
  padding: 0 5px;
}
.quote-icon {
  position: absolute;
}
.quote-icon.animate-slide-in-down,
.quote-icon.animate-slide-in-up {
  opacity: 0;
}
.no-js .quote-icon.animate-slide-in-down,
.no-js .quote-icon.animate-slide-in-up {
  opacity: 1;
}
.quote-icon-start {
  left: 0;
}
.quote-icon-start.animate-slide-in-down {
  top: -10px;
}
.no-js .quote-icon-start.animate-slide-in-down {
  top: 0;
}
.quote-icon-end {
  right: 0;
}
.quote-icon-end.animate-slide-in-up {
  bottom: -10px;
}
.no-js .quote-icon-end.animate-slide-in-up {
  bottom: 0;
}
.quote-content {
  margin: 30px auto 30px;
}
.quote-author {
  margin: 10px auto 30px;
}
.home-links {
  margin-top: 40px;
  font-size: 16px;
}
.home-links a {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  text-decoration: none;
  border-bottom: 1px dotted;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: border 0.3s ease, color 0.3s ease;
}
.home-links a:hover {
  border-bottom: 1px solid;
}
.home-links a:active {
  top: 1px !important;
}
.home-links a:first-child {
  margin-left: 0;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.location-icon {
  font-size: 16px;
}
.location-text {
  margin-left: 6px;
  font-size: 13px;
}
.relocating {
  opacity: 0;
  font-size: 13px;
  transition: all 0.3s ease;
}
.quote-line {
  background: #eee;
}
@-moz-keyframes homeImgRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes homeImgRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes homeImgRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes homeImgRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.arch_cate_tag {
  padding: 15px;
}
.arch_cate_tag ul,
.arch_cate_tag ol,
.arch_cate_tag li {
  list-style: none;
}
.cate_common {
  margin-bottom: 20px;
}
.cate_display_text {
  width: 100%;
}
.cate_cates {
  width: 100%;
}
.cate_cates .btn_cate a {
  margin: 5px;
  border: 1px #808080 solid;
  display: inline-block;
}
.cate_cates .btn_cate .btn_on {
  background-color: #808080;
}
.cate_lists {
  width: 100%;
}
.cate_lists li {
  margin: 10px 0 10px 5px;
}
.cate_area {
  border: 1px #808080 solid;
  display: inline-block;
  vertical-align: top;
}
.cate_area .cate_cell {
  display: inline-block;
}
.article_list {
  padding: 25px;
  overflow: hidden;
  zoom: 1;
}
.article_list li {
  margin: 10px 0 10px 5px;
}
.article_list .article_all {
  height: 40px;
  line-height: 40px;
  border: 1px rgba(70,136,241,0.7) solid;
  display: inline-block;
  float: right;
  background-color: rgba(70,136,241,0.7);
  padding: 0 5px;
  margin-top: 20px;
}
.artcle_list_item {
  padding: 5px;
  margin: 10px 0 10px 5px;
  overflow: hidden;
}
.artcle_list_item_img {
  float: right;
  overflow: hidden;
  height: 110px;
  width: 200px;
  text-align: center;
  line-height: 110px;
}
.artcle_list_item_img img {
  max-height: 100px;
  max-width: 200px;
  vertical-align: middle;
}
.artcle_list_item_down {
  width: 100%;
  min-height: 30px;
  border-bottom: 1px #6c6cef dashed;
  border-radius: 0;
  overflow: hidden;
  margin: 10px 0 0 0;
  padding: 10px 0;
}
.readmore {
  float: right;
}
.readmore a:hover {
  color: #2196f3;
}
.blogger {
  position: relative;
  min-height: 290px;
}
.blogger .blogger-header-bg img {
  width: 100%;
}
.blogger .blogger-avatar {
  position: absolute;
  top: 110px;
  overflow: hidden;
  width: 64px;
  height: 64px;
  border: 3px solid #fff;
  border-radius: 100%;
}
.blogger .blogger-title {
  font-size: 16px;
  text-align: right;
  padding-right: 5px;
  margin-bottom: 35px;
}
@-webkit-keyframes masked_animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}
.board {
  width: 100%;
}
.board_content p {
  background: -webkit-linear-gradient(left, #00a0e9, #10d39d 25%, #00a0e9 50%, #10d39d 75%, #00a0e9);
  color: transparent;
  -webkit-background-clip: text;
  background-size: 200% 100%;
  animation: masked_animation 1s infinite linear;
}
.btn_link {
  margin-bottom: 15px;
  background-color: rgba(255,255,255,0.6);
  padding: 0px;
}
.btn_link ul,
.btn_link ol,
.btn_link li {
  list-style: none;
}
.btn_link .btn_link_main .active {
  border-bottom: 3px #6c6cef solid;
  border-radius: 0;
}
.btn_link .btn_link_main ul {
  overflow-y: hidden;
  padding: 0 10px;
  white-space: nowrap;
}
.btn_link .btn_link_main li {
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin: 0 10px;
  display: inline-block;
}
.btn_link .btn_link_main a {
  display: inline-block;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.categories {
  max-height: 500px;
  overflow: auto;
}
.categories ul,
.categories ol,
.categories li {
  list-style: none;
}
.category-list-child {
  padding-left: 20px;
}
.comments {
  width: 100%;
  position: relative;
}
.comments_title {
  height: 50px;
  width: 100%;
}
.comments_title h2 {
  height: 50px;
  line-height: 50px;
  display: inline-block;
}
.comments_title .switch_comments {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  float: right;
}
.utterances {
  max-width: 100%;
}
.comment-switch {
  display: inline-block;
  float: right;
  margin: 0.1rem auto 0;
  padding: 0.2rem 0.8rem;
  border-radius: 8px;
}
.comment-switch .first-comment {
  color: #49b1f5;
}
.comment-switch .second-comment {
  color: #3ca340;
}
.comment-switch .switch-btn {
  position: relative;
  display: inline-block;
  margin: -4px 0.4rem 0;
  width: 42px;
  height: 22px;
  border-radius: 34px;
  background-color: #49b1f5;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.comment-switch .switch-btn:before {
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  content: '';
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.comment-switch .switch-btn.move {
  background-color: #3ca340;
}
.comment-switch .switch-btn.move:before {
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -o-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.hot_articles {
  height: 400px;
}
.links {
  width: 100%;
}
.links ul,
.links ol,
.links li {
  list-style: none;
}
.music_box {
  padding: 3px;
}
.music_box h3 {
  padding: 17px 0 0 17px;
}
.music_box .aplayer-box {
  padding: 0px;
}
.new_comments {
  height: 400px;
  overflow: auto;
  padding: 0 20px 20px;
}
.new_comments ul,
.new_comments ol,
.new_comments li {
  list-style: none;
}
.new_comments .title {
  position: relative;
  top: 0;
  margin: 0;
  border-radius: 0;
  padding: 20px 0 15px;
}
.new_comments .new_comments_loding {
  text-align: center;
  margin-top: 133.33333333333334px;
}
.hot_articles_item {
  font-size: 12px;
}
.hot_articles_item li {
  padding-bottom: 5px;
}
.hot_articles_item .item_up {
  width: 100%;
  height: 30%;
  max-height: 50px;
  height: 30px;
}
.hot_articles_item .item_down {
  width: 100%;
  height: 70%;
}
.hot_articles_item .item_up .avatar {
  float: left;
  width: 25px;
}
.hot_articles_item .item_up .nick_name {
  float: right;
  width: 80%;
  height: 25px;
  display: inline-block;
}
.hot_articles_item .item_up .nick {
  float: left;
}
.hot_articles_item .item_up .time {
  float: right;
}
.hot_articles_item .item_down img {
  width: 15px;
  display: inline;
}
.search_widget {
  text-align: center;
  cursor: pointer;
}
.search_widget span {
  margin-left: 5px;
}
.sticky {
  padding: 15px;
}
.sticky_up p {
  display: inline-block;
}
.sticky_img {
  float: right;
  width: 100px;
  max-height: 200px;
  overflow: hidden;
}
.sticky_up img {
  width: 100px;
}
.sticky_down {
  width: 100%;
  height: 30px;
  border-top: 1px #00f dashed;
  border-radius: 0;
}
.sticky_down .sticky_author {
  float: right;
}
.web_info img {
  width: 100%;
}
