#kuang2 {
    width:700px;
    height:300px;
    /*border:1px solid blueviolet;*/
    margin:0 auto;
    position: relative;
    padding: 20px;
}
#kuang2 img{
    vertical-align:middle;
    margin: 0 auto;
    width: 660px;
    height: 250px;
}
.kuang{
    width:1000px;
    height:380px;
    /*padding:10px;*/
    border:none;
    margin:0 auto;
    position: relative;
    margin-left: 20px;
}
#nav3 {
    width:800px;
    margin:auto auto;
    height:50px;
    background-color:#D68910;
}
#nav3>ul {
    position:absolute;
    list-style-type:none;
    margin:0;
    padding:0px;
}
/*菜单栏各项的宽度*/
#nav3>ul>li {
    float:left;
    width:133px;
    border-left:1px solid #f6f6f6;
}
#nav3>ul>li:first-child {
    border-left:none;
}
#nav3>ul>li>a {
    display:block;
    line-height:50px;
    text-decoration:none;
    color:#000000;
    text-align:center;
    font-family:微软雅黑, Geneva, sans-serif;
}
/*移到这个部分变色*/
#nav3>ul>li:hover {
    background-color:#99CC33;
}
.container1{ width: 800px;margin: 0 auto;}
#footer-wrapper{ background-color:#F5D56C; height: 50px;}
footer section{float: right;}

