#caidan_tupianqiehuan_liubai_zhanguoqixiong{
    width: 10px;
    height: 20px;
}
.kuang{
    width:1000px;
    height:380px;
    /*padding:10px;*/
    border:none;
    margin:0 auto;
    position: relative;
}
#kuang1 {
    width:1000px;
    height:1700px;
    /*padding:10px;*/
    /*border:1px solid #000;*/
    margin:0 auto;
    position: relative;
}

.recommendz img{display: inline-block;width: 200px; height: 200px;margin-bottom: 10px;}
/*介绍各个战国七雄的国家文字设置*/
.recommendz .recommendz-content{
    display: inline-block;
    width: 750px;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 40px;
}
.recommendz h3 {text-align:center; padding-bottom: 10px;padding-top: 10px;}
.recommendz {border-bottom:#CCC dashed 1px;position:relative;}
