#qinshimingyue_zuoce{
    width:200px;
    height:406px;
    /*padding:10px;*/
    border:1px solid #000;
    margin:0 auto;
    /*position: relative;left: 50px;right: 50px;*/
}

#qinshimingyue_zuoce ul{
    width:199px;
    height: 405px;
    /*margin:50px;*/
    margin:0 auto;

}
#qinshimingyue_zuoce ul li{
    position:relative;
    height:40px;
    line-height:40px;
    font-size:14px;
    text-align:center;
    /*左侧框里字的颜色*/
    color:#00578a;
    /*左侧框里面背景颜色*/
    /*background-color:#d8d8d8;*/
}

/*移到那个部数显示的颜色*/
#qinshimingyue_zuoce ul li:hover{
    background-color:#99CC33;
}
#qinshimingyue_zuoce ul li div{
    /*div里设置*/
    width:600px;
    height:240px;
    display:none;
    /*右侧里面的背景颜色*/
    background-color:lightskyblue;
    position:absolute;
    top:0;
    left:200px;
    font-size:14px;
    /*右侧里面字的颜色*/
    color:blueviolet;
}
#qinshimingyue_zuoce ul li:hover div{/*当鼠标滑过*/
    display:block;
}
#qinshimingyue_zuoce ul li a{
    color:red;/*超链接文字颜色*/
    float:center;/*文字居中*/
    font-size:17px;/*文字大小*/
}